#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --sourcedirectory=server-core -- \
		-DAUDIO_SHARE_STATIC_LIBCPP=OFF \
		-DCMAKE_TOOLCHAIN_FILE=

override_dh_auto_build:
	dh_auto_build --sourcedirectory=server-core

override_dh_auto_install:
	dh_auto_install --sourcedirectory=server-core
