#!/usr/bin/make -f
include /usr/share/dpkg/architecture.mk
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --sourcedirectory=server-core -- \
		-DAUDIO_SHARE_STATIC_LIBCPP=OFF \
		-DCMAKE_TOOLCHAIN_FILE= \
		-DCMAKE_LIBRARY_ARCHITECTURE=$(DEB_HOST_MULTIARCH)

override_dh_auto_build:
	dh_auto_build --sourcedirectory=server-core

override_dh_auto_install:
	dh_auto_install --sourcedirectory=server-core
	install -Dm644 debian/audio-share.svg \
		debian/audio-share/usr/share/icons/hicolor/scalable/apps/audio-share.svg
	install -Dm644 debian/io.github.mkckr0.AudioShare.metainfo.xml \
		debian/audio-share/usr/share/metainfo/io.github.mkckr0.AudioShare.metainfo.xml
